@keyframes moveFire1 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      top:calc(251 / 375vw);
      left:calc(91 / 375vw)
    }
}


@keyframes moveFire2 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
}

@keyframes moveFire3 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      left:calc(224 / 375vw);
      top:calc(322 / 375vw);
    }
  }

  @keyframes moveFire4 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      left:calc(304 / 375vw);
      top:calc(199 / 375vw);
    }
  }

  @keyframes moveFire5 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      left:calc(187 / 375vw);
      top:calc(343 / 375vw);
    }
  }

  @keyframes moveFire6 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      left:calc(245 / 375vw);
      top:calc(379 / 375vw);
    }
  }

  @keyframes moveFire7 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      left:calc(101 / 375vw);
      top:calc(314 / 375vw);
    }
  }

  @keyframes moveFire8 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      left:calc(256 / 375vw);
      top:calc(318 / 375vw);
    }
  }

  @keyframes moveFire9 {
    from {
      opacity: 0;
      top:calc(278 / 375vw);
      left:calc(188 / 375vw);
    }
  
    to {
      opacity: 1;
      left:calc(239 / 375vw);
      top:calc(240 / 375vw);
    }
  }