.home-container {
    background-image: url(../images/home/home-background.png);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .home-words {
        margin-top: 62px;
        background-image: url(../images/home/home-words.png);
        width: 347px;
        height: 575px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .home-button {
        background-image: url(../images/home/home-button.png);
        width: 183px;
        height: 74px;
        background-size: 100% 100%;
        margin-bottom: 20px;
    }
}
