.loading-container {
    height: 100vh;
    width: 100vw;
    background-image: url(../imgs/Loading/loading-background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .calendar {
        margin-bottom: 24.5px;
        background-image: url(../imgs/Loading/loading-calendar.png);
        width: 148px;
        height: 156.5px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .scroll-number-box {
            width: 124px;
            height: 49.1px;
            margin: 0 auto;
            color: #bf1e16;
            font-family: 'HuaGuang';
            font-weight: bolder;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
