.background {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    background-color: #000000;
    font-family: Aalzh;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .sentences-box {
        width: 310px;
        height: 60px;
    }
}
