@import url(../commonStyle.less);

.student-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    .backgroundSet(url(../../imgs/History/FirstAct/student-background.png));
    .hands {
        overflow: hidden;
        height: 569.2px;
        width: 375px;
        position: absolute;
        bottom: 30px;
        .backgroundSet(url(../../imgs/History/FirstAct/student-book.png));
    }
    .sentences-box {
        height: 132px;
        width: 300px;
        margin: 110px auto 0 auto;
        font-size: 20px;
        color: #ffffff;
        font-family: Aalzh;
        line-height: 39px;
        white-space: pre-line;
    }
    .show-hands {
        overflow: hidden;
        display: none;
        height: 569.2px;
        width: 375px;
        .backgroundSet(url(../../imgs/History/FirstAct/student-hands.png));
        position: absolute;
        bottom: 30px;
        left: -1px;
    }
    .anger {
        z-index: 1;
        height: 145px;
        width: 375px;
        .backgroundSet(url(../../imgs/History/FirstAct/student-anger.png));
        position: absolute;
        bottom: 281px;
        display: none;
    }
    .show {
        display: block;
    }
    .hidden {
        display: none;
    }
}
