@import url(../commonStyle.less);

.student-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    .backgroundSet(url(../../imgs/history/firstAction/student-background.png));
    .hands {
        height: 569.2px;
        width: 375px;
       .backgroundSet(url(../../imgs/history/firstAction/student-hands.png));
        .sentences-box {
            height: 132px;
            width: 300px;
            margin: 93px auto 0 auto;
            font-size: 20px;
            color: #ffffff;
            font-family: Aalzh;
            line-height: 33px;
            white-space: pre-line;
        }
    }
}
